:root {
    --creme: #fff6e8;
    --brown: #1f1200;
    --grey: #111111;
}
* {
    font-family: "Oswald", Arial, sans-serif;
}
select{
    background-color: var(--creme);
    color: var(--grey);
}
input{
    background-color: var(--creme);
    color: var(--grey);
    padding: 2px;
}
textarea{
    resize: none;
    background-color:var(--creme);
    color: var(--grey);

}
.content{
    margin-left: 10%;
    margin-right: 10%;
    color:var(--creme)
}
.contact{
    float: left;
}
.form{
    margin-left: 50%;
}
.age-check{
    color: var(--grey);
}