.main {
    background-color: var(--brown);
}
.icon img {
    width: 15%;  
}
.content{
    padding-top:64px;   
}

@media screen and (min-width:801px){

.picparent {
    position: relative;
    top: 0;
    left: 0;
  }
  .backgroundpic {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    left: 0px;
    border:0;
  }
  .logoandtextinpic {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-top: 5%;
    margin-left:70%;
  }
  .logoandtextinpic img {
      width:80%;
  }

  .logoandtextinpic td {
      width: 600px;
      text-align:center;
  }
  
  .arrowdown {
    position: absolute;
    bottom:1%;
    margin-bottom: 1%;
    margin-left:49.3%;
}

.arrowcentered {
    text-align:center;
}
#arrowup {
    width:20%;
    height:auto;
}
#arrowdown {
    width:20%;
    height:auto;
}
.beergallery{
    text-align:center;
}
.beergallerypadding {
    padding-left:2%;
}

.landingpagetext {
    margin-top:3%;
    margin-left:15%;
    margin-right:15%;
    border: 5px solid var(--creme);   
}
.beargallerypicsize {
    width:20%;
}
#landingpagegallerymobile {
    display: none;
}  
#landingpagegallerydesktop{
    text-align:center;
} 
}