:root {
    --creme: #fff6e8;
    --brown: #1f1200;
    --grey: #111111;
}

* {
    font-family: "Oswald", Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Oswald", Arial, sans-serif;
    overflow-x: hidden;
}

.main {
    background-color: var(--brown);
}

.content{
    padding-top:64px;
    color:var(--creme);
    padding-left:5%;
    padding-right:5%;
}

.history-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

.history-row {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 16px;
    align-items: center;
}

.history-image {
    width: 100%;
    height: auto;
}

}
.footer {
    background-color: var(--grey);
    padding: 32px 5%;
    color: white;
    display: grid;
    grid-template-rows: 1fr 32px;
}

.footer .bottom {
    padding: 5px 0;
    font-size: 60%;
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 100%;
    z-index: 20;
    background-color: var(--grey);
    display: grid;
    grid-template-rows: repeat(6, minmax(64px, 1fr));
}

.close-sidebar-container {
    padding: 8px 0;
    padding-right: 8px;
    text-align: end;
}

#close-sidebar {
    float: right;
    padding: 16px;
    background-color: var(--grey);
    outline: none;
    border: none;
}

#close-sidebar:hover {
    cursor: pointer;
}

#close-sidebar img {
    height: 32px;
}

.sidebar-menu {
    font-size: 32px;
    font-weight: 600;
    padding: 8px;
    background-color: var(--grey);
    color: white;
    border: none;
    outline: none;
    text-align: start;
}

.sidebar-menu img {
    height: 32px;
}

.sidebar-menu:hover {
    cursor: pointer;
    background-color: #333333;
}

.shopping-cart {
    position: absolute;
    top: 72px;
    width: 350px;
    height: calc(100% - 73px);
    background-color: var(--creme);
    right: -350px;
    border-top: 1px solid var(--brown);
    display: flex;
    flex-direction: column;
}

.shopping-cart p {
    text-align: center;
    font-size: 18px;
}

.shopping-cart .checkout {
    border-top: 1px solid var(--brown);
    width: 100%;
    height: 64px;
    padding: 16px 8px;
}

.cart-items {
    flex: 1;
}

.checkout button {
    width: calc(100% - 16px);
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--grey);
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.checkout button:hover {
    cursor: pointer;
}

.cart-item {
    height: 100px;
    border-bottom: 1px solid var(--brown);
}

@media screen and (max-width: 625px) {
    .history-row {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 16px 0;
        grid-row-gap: 4px;
    }
}

@media screen and (max-width: 1080px) {
    .nav .left {
        display: none;
    }

    .nav .icon {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        justify-content: end;
    }

    .footercontent{
        text-align:center;
        padding-top:2%;
    }
}

@media screen and (max-width: 670px) {
    #shop {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    #menubutton {
        display: none;
    }
    #sidebar {
        display: none;
    }
    .footer .top{
        display:flex;
        justify-content: space-around;
    }
    .footercontent{
        float:left;
    }
}

@media screen and (max-width: 350px) {
    .shopping-cart {
        width: 100%;
        right: -100%;
    }

    .nav .icon {
        justify-content: space-around;
    }

    #menubutton {
        padding-left: 8px;
    }
    .historycontainer{
        display:initial;
    }
    .historyimage{
        width: 100%;
    }
    .historytext{
        display: initial;
    }
}
