

.content{
    padding-top:64px;
    color:var(--creme);
    padding-left:5%;
    padding-right:5%;
}

.history-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

.history-row {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 16px;
    align-items: center;
}

.history-image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 625px) {
    .history-row {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 16px 0;
        grid-row-gap: 4px;
    }
}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 670px) {
 
}

@media screen and (min-width: 1080px) {

}

@media screen and (max-width: 350px) {
    
    .historycontainer{
        display:initial;
    }
    .historyimage{
        width: 100%;
    }
    .historytext{
        display: initial;
    }
}
