@media (min-device-width: 801px)
{
	#introduction
	{
		color: #fff6e8;
	}

	.person_left img
	{
		height: 11rem;
		float: left;
	}

	.person_left
	{
		margin-top: 3rem;
		width: 100%;
	}

	.person_right
	{
		margin-top: 3rem;
		padding-left: 40%;
	}

	.person_right img
	{
		height: 11rem;
		float: right;
	}

	.mySlide .fade
	{
		height: 11rem;
	}

	.text
	{
		height: 11rem;
		color: #fff6e8;
	}

	.next, .prev
	{
		visibility: hidden;
	}
}

@media screen and (max-width: 800px)
{
	#introduction
	{
		color: #fff6e8;
	}

	.slideshow
	{
		max-width: 800px;
		position: relative;
		margin: auto;
	}

	.mySlide
	{
		display: none;
		align-items: center;
		justify-content: center;
		align-content: center;
	}

	.mySlide img
	{
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		margin: auto;
		height: 50vw;
	}

	.prev, .next 
	{
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: #fff6e8;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next
	{
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.text
	{
		height: auto;
		padding: 8px 12px;
		bottom: 8px;
		text-align: center;
		color: #fff6e8;
	}

	.fade 
	{
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}
	  
	@-webkit-keyframes fade 
	{
		from {opacity: .4}
		to {opacity: 1}
	}
	  
	@keyframes fade 
	{
		from {opacity: .4}
		to {opacity: 1}
	}
}