html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.landing-page {
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url("images/beer-barrel-956322_1920.jpg") no-repeat 50% 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.landing-page .header {
    color: white;
    font-size: 64px;
    font-weight: 600;
}

.locals {
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url("images/locals.jpg") no-repeat 50% 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}