.footer a {
    color: var(--creme);
}

.footer {
    background-color: var(--grey);
    padding: 32px 5%;
    color: white;
    display: grid;
    grid-template-rows: 1fr 32px;
}

.footer .bottom {
    padding: 5px 0;
    font-size: 60%;
}

@media screen and (max-width: 1080px) {

    .footercontent{
        text-align:center;
        padding-top:2%;
    }
}


@media screen and (min-width: 1080px) {

    .footer .top{
        display:flex;
        justify-content: space-around;
    }
    .footercontent{
        float:left;
    }
}