.main {
    background-color: var(--brown);
    min-height:100%;
}
.icon img {
    width: 32px;  
    height:32px;
}
.content{
    padding-top:64px;   
    color: var(--creme);
}

.content button{
    background-color:transparent;
    border:0;
}

.content .arrow {
    width:50px;
    height:auto;
    background-color: var(--creme);
    border-radius:15px;
}

ul li {
    list-style-type:none;
}


@media screen and (min-width:801px){

.picparent {
    margin-top: 8px;
    position: relative;
    top: 0;
    left: 0;
    background:url("../images/beer-barrel-956322_1920.jpg") no-repeat 50% 50%;
    background-size: cover;
    height:100vh;
  }

  .logoandtextinpic {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-top: 5%;
    margin-left:70%;
  }
  .logoandtextinpic img {
      width:80%;
  }

  .logoandtextinpic td {
      width: 600px;
      text-align:center;
  }

.beergallery{
    text-align:center;
}
.beergallerypadding {
    padding-left:2%;
}

.landingpagetext {
    margin-top:3%;
    margin-left:15%;
    margin-right:15%;
    border: 5px solid var(--creme);   
}
.beargallerypicsize {
    width:20%;
}
#landingpagegallerymobile {
    display: none;
}  
#landingpagegallerydesktop{
    text-align:center;
} 

.arrowdown {
    padding-top:35%;
}

  .arrowup {
      margin-top:1%;
  }
.arrowcentered {
    text-align: center;
}
}